<?xml version="1.0" encoding="UTF-8"?>
<Context path="/EW_AppProduccio" docBase="/" reloadable="true" crossContext="true">
 
	<Resource name="jdbc/BDgestio"
		auth="Container"
		type="javax.sql.DataSource"
		maxActive="100"
		maxIdle="30"
		maxWait="10000"
		username="sa"
		password="ew#211218"
		driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		url="jdbc:sqlserver://127.0.0.1:1433;DatabaseName=2014MG" /> 
/>
	
</Context>